# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
.ruff_cache/
.pytest_cache/
.venv/
*.egg-info/

# Logs
*.log

# Data and logs
data
logs


# Temp
*.tmp

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Tests
coverage/


# Environment
.env
config/**/*.yaml
!config/template.yaml
